body {
  background-color: rgb(66, 66, 66);
  margin: 0 auto;
}

.ausource {
  text-align: center;
  margin-top: 50px;
}

#text {
  margin-top: 20px;
  color: aliceblue;
  padding-left: 30px;
  text-align: center;
}

li {
  margin-left: 20px;
}
