.container {  
  margin: 0 auto;
  width: 1200px;
}

.active {
  margin: 5px;
  text-decoration: none;
  color: #0d6efd;
  background: rgb(224, 171, 73);
  padding: 0 15px 0 15px;
}

.link {
  margin: 5px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  padding: 0 15px 0 15px;
}
.volumeController {
  margin-right: 10px;
}

