body {
  padding: 30px;
  background: rgb(73, 73, 73);
}

.block {
  /* border: 1px solid black; */
  max-width: 800px;
  margin: 0 auto;
  height: 800px;
}

.box {
  background: cadetblue;
  height: 40px;
  text-align: center;
  color: aliceblue;
}


.marker {
  background: rgb(85, 43, 79);
  position: relative;
  margin-top: -40px;
  width: 40px;
  height: 40px;
}

