.container {
  margin: 0 auto;
  max-width: 1200px;
  
}

.active {
  margin: 5px;
  text-decoration: none;
  color: #0d6dfd;
  background: rgb(255, 255, 255);
  padding: 0 15px 0 15px;
  height: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px #ff000088;
  // border: 1px solid #cf86b9;
  // background: linear-gradient(to right, rgb(119, 0, 255), orange);
}

.link {
  border-radius: 5px;
  margin: 5px;
  height: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: #0d6dfd;
  padding: 0 15px 0 15px;
  filter: blur(0px);

}
.volumeController {
  margin-right: 10px;
  padding-bottom: 10px;
}

.checker {
  margin-left: 5px;
}

.link:hover
{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.5);
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  filter: blur(0px);
  box-shadow: 0px 0px 10px 1px #ff000088;
  // border: 1px solid #cf86b9;
  background: linear-gradient(to right, rgb(119, 0, 255), orange);
}

.underline {
  width: 100%;
  height: 4px;
  // background: linear-gradient(to right, rgb(119, 0, 255), orange);
  box-shadow: 0px 0px 10px 1px #ff000088;

  animation: gradient 10s ease infinite;
  background: linear-gradient(-45deg, orange, #e73c7e, rgb(119, 0, 255), #23d5ab);
	background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.headerButtons {
  display: grid;
  grid-template-columns: 110px 155px 144px 1fr 160px 3fr;
}

.channelNameText {
  font-size: 20px;
  margin: 0 20px 0 20px;
  color: #ffffff;
}