.container {
  display: grid;
  grid-template-columns: 40px 1fr;
  margin-bottom: 10px;
  text-align: left;
  width: 160px;
  margin-top: 10px;
  margin-top: 10px;
  position: relative;
  right: 14px;
}

.volmValue {
  font-size: 16px;
  margin-right: 25px;
  text-align: left;
}
