.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  width: 1000px;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 18px;
  gap: 15px;

}

h4 {
  margin-bottom: 15px;
}



