body {
  padding: 0;
  width: 0 auto;
  text-align: center;
  // background-image: radial-gradient((#271a24, #0414164b));
  // background-image: radial-gradient(rgba(146, 0, 134, 0.425), rgba(0, 18, 53, 0.863)),
    // url("https://images.unsplash.com/photo-1592492159418-39f319320569?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");

  // background-image: radial-gradient(rgba(0, 75, 146, 0.425), rgba(0, 18, 53, 0.863)),
  //   url("https://images.unsplash.com/photo-1629976002376-3bccae77037d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2080&q=80");

  color: white;
  min-height: 98.5vh;
  min-width: 100vw;
  // min-width: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body::-webkit-scrollbar {
  width: 0;
}

.logoHeader {
  margin: 0 auto;
  height: 40px;
  // width: 1200px;
  margin-top: 15px;
  margin-bottom: 35px;

  .twitchLogo {
    height: 34px;
    padding-right: 20px;
  }

  .headerText {
    padding-left: 20px;
    font-size: 32px;
  }
}
