$border: 1px;

.container {
  position: relative;
  width: 1000px;
  text-align: left;
  height: 650px;
  margin: 0 auto;
  background-color: rgba(189, 189, 189, 0.1);
  padding: 10px 20px 10px 20px;
  border-radius: 35px;

  h4 {
    color: white;
    line-height: 10px;

  }

  .main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px 0 10px 0;
    gap: 10px;
    border-radius: 5px;
    height: 600px;
    overflow-y: auto;

  }
  .main::-webkit-scrollbar {
    width: 0;
  }

  footer {
    margin: 10px 0 10px 0;
    height: 40px;
    border-radius: 5px;
    color: wheat;
    text-align: center;
    position: relative;
    top: 40px;
  }
}


.chatLine {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  background: rgba(128, 128, 128, 0.192);
  padding: 15px;
  border-radius: 15px;


}

.nickname {
  text-align: center;
  font-size: 16px;
  color: orange;


}

.date {
  text-align: center;
  color: gray;

}

.message {
  text-align: center;
  padding: 5px;
  font-size: 18px;
  
}